@charset "utf-8";

body {
	background: #FFF;
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Times, serif;
	line-height: 1.4;
	font-size: 1em;
	color: #000;
}
header, section, footer, aside, nav, article, figure {
	display: block;
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2 {
	font-weight: normal;
	padding-bottom: 5px;
	margin: 0px;
}
h3, h4, h5, h6 { 
	font-weight: bold;
	padding-bottom: 5px;
	margin: 0px;
}
h5, h6 { text-transform: uppercase; letter-spacing: 1px; }
.wrap{
	display:block;
	min-height:1000px;
	z-index:0;
	padding: 0px;
	margin: 0px;
	margin-top: -5px;
	padding-top: 5px;
}

.container {
	width: 982px;
	background-color: transparent;
	background-image: url(/includes/images/bg-trans.png);
	background-repeat: repeat;
	overflow: hidden;
	border: 5px solid white;
	/*-moz-border-radius: 5px;
	border-bottom-radius: 5px;*/
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

.header {
	width: 982px;
	height: 110px;
	margin: 0 auto;
	padding: 0px;
}
.content {
	padding: 20px;
	width: 542px;
	min-height: 375px;
	float: left;
	background-image: url(/includes/images/bg-tm-page.png);
	background-repeat: repeat-x;	
	margin-bottom: -2000px; 
	padding-bottom: 2000px;
	
}
.content img {
	border: none;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	
}
.sidebarLeft {
	float: left;
	width: 185px;
	/*background: #EADCAE;*/
	padding: 0px;
	background-image: url(/includes/images/bg-tm-page.png);
	background-repeat: repeat-x;
	margin-bottom: -2000px;
	padding-bottom: 2000px;
	padding-right: 5px;
	border-right-width: 5px;
	border-right-style: groove;
	border-right-color: #CCC;
}
.divSpacer {
	float: left;
	width: 24px;
	padding: 0px;
	background-image: url(/includes/images/bg-leftside.png);
	background-repeat: repeat-y;
	margin-bottom: -4000px; 
	padding-bottom: 4000px;
}
.sidebarRight {
	float: left;
	width: 200px;
	/*background: #EADCAE;*/
	padding: 0px;
	background-image: url(/includes/images/bg-tm-page.png);
	background-repeat: repeat-x;
	margin-bottom: -4000px; 
	padding-bottom: 4000px;
	border-left-width: 5px;
	border-left-style: groove;
	border-left-color: #CCC;
}

.content ul, .content ol {
	padding: 0 15px 15px 40px;
}
.nav {
	width: 982px;
	margin: 0 auto;
	background-color: #000;
}

.footer {
	width: 972px;
	height: 75px;
	padding: 10px;
	margin: 0 auto;
	color: #FFF;
	background-image: url(/includes/images/bg-footer.png);
	background-position:bottom;
	background-repeat: repeat-x;
	background-color: #000;
	 box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
}
.footer h1 {
	margin: 0px;
	padding: 0px;
	font-style: italic;
}
.footer p {
	text-align: right;
	font-size: 95%;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 440px;
}
.address {
	margin: 10px;
	padding: 0px;
	font-size: 95%;
	float: left;
	width: 400px;
}
.address h1 {
	margin: 0px;
	padding: 0px;
	font-style: italic;
}
.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

h6 {
	font-size: 1em;
}

#rss {
	/*width: 600px;*/
	list-style-type:none;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
#rss h3 {
	font-size: 70%;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
}
#rss li {
	padding-top: 2px;
	padding-right: 1px;
	padding-left: 0px;
	margin-top: 10px;
	margin-right: 2px;
	margin-bottom: 8px;
	margin-left: 2px;
	/*
width: 595px;
*/
}
#rss li a {
	color: #000;
	text-decoration: none;
}

.white {
	background-color: #EFEFEF;
	margin: 2px;
	border: 1px solid #CCC;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.white:hover {
	background-color: #EFEFEF;
	border: 1px solid #C00;
}
.grey {
	background-color: #CCC;
	margin: 2px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 2px;
	border: 1px solid #666;
}
.grey:hover {
	background-color: #CCC;
	border: 1px solid #C00;
}
.rounded {
	background-color: #F1F2F5;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-box-shadow: 0px 2px 4px #000000;
	-moz-box-shadow: 0px 2px 4px #000000;
	box-shadow: 0px 2px 4px #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
}
/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.sidenav {
	list-style: none; /* this removes the list marker */
	/*border-top: 1px solid #666;*/ /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin: 0px; /* this creates the space between the navigation on the content below */
	font-weight: bold;
	letter-spacing: 1.5px;
	font-size: 0.8em;
}
ul.sidenav li {
	
	/*border: 3px solid white;*/
    position:relative;
	background: #ccc;
    border: 5px solid white;
	/*-moz-border-radius: 5px;
	border-bottom-radius: 5px;*/
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.80);
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
ul.sidenav a, ul.sidenav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	/*background: #9DDCF9;*/
	color: #000;
	overflow: auto;
}
ul.sidenav a:hover, ul.sidenav a:active, ul.sidenav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #6F7D94;
	color: #FFF;
}